CS100.LearningModality=Virtual
CS111.LearningModality=Virtual
CS113.LearningModality=Virtual
CS211.LearningModality=Virtual
CS272.LearningModality=Virtual
CS281.LearningModality=Virtual
CS391.LearningModality=Virtual
CS392.LearningModality=Virtual
CS393.LearningModality=Virtual
CS401.LearningModality=Virtual
CS402.LearningModality=Virtual
CS403.LearningModality=Virtual
ID101.LearningModality=Virtual


